In [1]:
import pandas as pd
import numpy as np

telco_churn = pd.read_csv("data/Telco-Customer-Churn.csv")
telco_churn.head(5)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [2]:
telco_churn.shape

(7043, 21)

In [3]:
telco_churn.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [4]:
column_list = telco_churn.columns

for column_name in column_list:
    if(telco_churn[column_name].dtype == 'object'):
        print("column name : {0}, unique items : {1}, items : {2} ".format(column_name, telco_churn[column_name].unique().size, telco_churn[column_name].unique()) )

column name : customerID, unique items : 7043, items : ['7590-VHVEG' '5575-GNVDE' '3668-QPYBK' ... '4801-JZAZL' '8361-LTMKD'
 '3186-AJIEK']
column name : gender, unique items : 2, items : ['Female' 'Male']
column name : Partner, unique items : 2, items : ['Yes' 'No']
column name : Dependents, unique items : 2, items : ['No' 'Yes']
column name : PhoneService, unique items : 2, items : ['No' 'Yes']
column name : MultipleLines, unique items : 3, items : ['No phone service' 'No' 'Yes']
column name : InternetService, unique items : 3, items : ['DSL' 'Fiber optic' 'No']
column name : OnlineSecurity, unique items : 3, items : ['No' 'Yes' 'No internet service']
column name : OnlineBackup, unique items : 3, items : ['Yes' 'No' 'No internet service']
column name : DeviceProtection, unique items : 3, items : ['No' 'Yes' 'No internet service']
column name : TechSupport, unique items : 3, items : ['No' 'Yes' 'No internet service']
column name : StreamingTV, unique items : 3, items : ['No' 'Yes' 'No internet service']
column name : StreamingMovies, unique items : 3, items : ['No' 'Yes' 'No internet service']
column name : Contract, unique items : 3, items : ['Month-to-month' 'One year' 'Two year']
column name : PaperlessBilling, unique items : 2, items : ['Yes' 'No']
column name : PaymentMethod, unique items : 4, items : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
column name : TotalCharges, unique items : 6532, items : ['29.85' '1889.5' '108.15' ... '346.45' '306.6' '6844.5']
column name : Churn, unique items : 2, items : ['No' 'Yes']

In [5]:
telco_churn['MultipleLines_YN'] = telco_churn['MultipleLines'].map({'No phone service' : 0, 'No' : 1, 'Yes' : 1})
telco_churn['InternetService_YN'] = telco_churn['InternetService'].map({'No' : 0, 'DSL' : 1, 'Fiber optic' : 1})
telco_churn['OnlineSecurity_YN'] = telco_churn['OnlineSecurity'].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})
telco_churn['OnlineBackup_YN'] = telco_churn['OnlineBackup'].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})
telco_churn['DeviceProtection_YN'] = telco_churn['DeviceProtection'].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})
telco_churn['TechSupport_YN'] = telco_churn['TechSupport'].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})
telco_churn['StreamingTV_YN'] = telco_churn['StreamingTV'].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})
telco_churn['StreamingMovies_YN'] = telco_churn['StreamingMovies'].map({'No internet service' : 0, 'No' : 0, 'Yes' : 1})

telco_churn['gender'] = telco_churn['gender'].map({'Female' : 0, 'Male' : 1})
telco_churn['Partner'] = telco_churn['Partner'].map({'Yes' : 1, 'No' : 0})
telco_churn['Dependents'] = telco_churn['Dependents'].map({'Yes' : 1, 'No' : 0})
telco_churn['PhoneService'] = telco_churn['PhoneService'].map({'Yes' : 1, 'No' : 0})
telco_churn['PaperlessBilling'] = telco_churn['PaperlessBilling'].map({'Yes' : 1, 'No' : 0})

telco_churn.rename(columns={'Churn' : 'class'}, inplace=True)

telco_churn['class'] = telco_churn['class'].map({'Yes' : 1, 'No' : 0})



telco_churn['TotalCharges'] = telco_churn['TotalCharges'].replace(' ', np.nan)

telco_churn = telco_churn[telco_churn["TotalCharges"].notnull()]
telco_churn = telco_churn.reset_index()[telco_churn.columns]

# https://www.kaggle.com/pavanraj159/telecom-customer-churn-prediction
# Graph 그리는 나름대로의 library를 만들어 두는 것이 필요할 것으로 생각 됨.
# 개인이 만든 라이브러리 참조 방법 확인!!!

#telco_churn['TotalCharges'].isnull().any()
telco_churn['TotalCharges'] = [float(str(val)) for val in telco_churn['TotalCharges']]

telco_churn.head(5)
#telco_churn['TotalCharges']

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TotalCharges,class,MultipleLines_YN,InternetService_YN,OnlineSecurity_YN,OnlineBackup_YN,DeviceProtection_YN,TechSupport_YN,StreamingTV_YN,StreamingMovies_YN
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,No,...,29.85,0,0,1,0,1,0,0,0,0
1,5575-GNVDE,1,0,0,0,34,1,No,DSL,Yes,...,1889.50,0,1,1,1,0,1,0,0,0
2,3668-QPYBK,1,0,0,0,2,1,No,DSL,Yes,...,108.15,1,1,1,1,1,0,0,0,0
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,Yes,...,1840.75,0,0,1,1,0,1,1,0,0
4,9237-HQITU,0,0,0,0,2,1,No,Fiber optic,No,...,151.65,1,1,1,0,0,0,0,0,0

In [6]:
telco_churn['gender'].dtype

dtype('int64')

In [7]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

#gender_trans = mlb.fit_transform([{str(val)} for val in telco_churn['gender'].values])
multipleLines_trans = mlb.fit_transform([{str(val)} for val in telco_churn['MultipleLines'].values])
internetService_trans = mlb.fit_transform([{str(val)} for val in telco_churn['InternetService'].values])
onlineSecurity_trans = mlb.fit_transform([{str(val)} for val in telco_churn['OnlineSecurity'].values])
onlineBackup_trans = mlb.fit_transform([{str(val)} for val in telco_churn['OnlineBackup'].values])
deviceProtection_trans = mlb.fit_transform([{str(val)} for val in telco_churn['DeviceProtection'].values])
techSupport_trans = mlb.fit_transform([{str(val)} for val in telco_churn['TechSupport'].values])
streamTV_trans = mlb.fit_transform([{str(val)} for val in telco_churn['StreamingTV'].values])
streamingMovies_trans = mlb.fit_transform([{str(val)} for val in telco_churn['StreamingMovies'].values])
contract_trans = mlb.fit_transform([{str(val)} for val in telco_churn['Contract'].values])
paymentMethod = mlb.fit_transform([{str(val)} for val in telco_churn['PaymentMethod'].values])

telco_churn.head(5)

/anaconda3/envs/tpot/lib/python3.7/site-packages/sklearn/utils/__init__.py:4: DeprecationWarning: Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated, and in 3.8 it will stop working
  from collections import Sequence

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,TotalCharges,class,MultipleLines_YN,InternetService_YN,OnlineSecurity_YN,OnlineBackup_YN,DeviceProtection_YN,TechSupport_YN,StreamingTV_YN,StreamingMovies_YN
0,7590-VHVEG,0,0,1,0,1,0,No phone service,DSL,No,...,29.85,0,0,1,0,1,0,0,0,0
1,5575-GNVDE,1,0,0,0,34,1,No,DSL,Yes,...,1889.50,0,1,1,1,0,1,0,0,0
2,3668-QPYBK,1,0,0,0,2,1,No,DSL,Yes,...,108.15,1,1,1,1,1,0,0,0,0
3,7795-CFOCW,1,0,0,0,45,0,No phone service,DSL,Yes,...,1840.75,0,0,1,1,0,1,1,0,0
4,9237-HQITU,0,0,0,0,2,1,No,Fiber optic,No,...,151.65,1,1,1,0,0,0,0,0,0

In [8]:
multipleLines_trans

array([[0, 1, 0],
       [1, 0, 0],
       [1, 0, 0],
       ...,
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0]])

In [9]:
telco_churn_new = telco_churn.drop(['MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'customerID',
                                   'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaymentMethod', 'class'],
                                   axis=1)
telco_churn_new.head(5)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,MultipleLines_YN,InternetService_YN,OnlineSecurity_YN,OnlineBackup_YN,DeviceProtection_YN,TechSupport_YN,StreamingTV_YN,StreamingMovies_YN
0,0,0,1,0,1,0,1,29.85,29.85,0,1,0,1,0,0,0,0
1,1,0,0,0,34,1,0,56.95,1889.50,1,1,1,0,1,0,0,0
2,1,0,0,0,2,1,1,53.85,108.15,1,1,1,1,0,0,0,0
3,1,0,0,0,45,0,0,42.30,1840.75,0,1,1,0,1,1,0,0
4,0,0,0,0,2,1,1,70.70,151.65,1,1,0,0,0,0,0,0

In [10]:
telco_churn_new = np.hstack((telco_churn_new.values, multipleLines_trans, internetService_trans, onlineSecurity_trans,
                            onlineBackup_trans, deviceProtection_trans, techSupport_trans, streamTV_trans, streamingMovies_trans,
                            contract_trans, paymentMethod))
telco_churn_new.shape

(7032, 48)

In [11]:
telco_churn_class = telco_churn['class'].values
telco_churn_new[0]

array([ 0.  ,  0.  ,  1.  ,  0.  ,  1.  ,  0.  ,  1.  , 29.85, 29.85,
        0.  ,  1.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ,  0.  ,  0.  ,
        1.  ,  0.  ,  1.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  1.  ,  1.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  1.  ,
        0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  1.  ,  0.  ,  0.  ,  0.  ,
        0.  ,  1.  ,  0.  ])

In [12]:
from sklearn.cross_validation import train_test_split

training_indices, validation_indices = training_indices, testing_indices = train_test_split(telco_churn.index, stratify = telco_churn_class, train_size=0.75, test_size=0.25)
training_indices.size, validation_indices.size

/anaconda3/envs/tpot/lib/python3.7/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

(5274, 1758)

In [13]:
from dask.distributed import Client

client = Client(n_workers=4, threads_per_worker=2)
client

In [14]:
%%time

from tpot import TPOTClassifier
tpot = TPOTClassifier(generations=5, population_size=20, verbosity=2, use_dask=True)
tpot.fit(telco_churn_new[training_indices], telco_churn_class[training_indices])

/anaconda3/envs/tpot/lib/python3.7/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

HBox(children=(IntProgress(value=0, description='Optimization Progress', max=120), HTML(value='')))

Generation 1 - Current best internal CV score: 0.8020463170605485
Generation 2 - Current best internal CV score: 0.8020463170605485
Generation 3 - Current best internal CV score: 0.8020463170605485
Generation 4 - Current best internal CV score: 0.8031812431717554
Generation 5 - Current best internal CV score: 0.8031812431717554

Best pipeline: RandomForestClassifier(input_matrix, bootstrap=True, criterion=gini, max_features=0.5, min_samples_leaf=18, min_samples_split=17, n_estimators=100)
CPU times: user 39.5 s, sys: 2.52 s, total: 42.1 s
Wall time: 2min 26s