In [10]:
from tpot import TPOTClassifier
from sklearn.cross_validation import train_test_split
import pandas as pd
import numpy as np

In [11]:
marketing = pd.read_csv("data/Data_FinalProject.csv")
marketing.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [5]:
marketing.shape

(41188, 21)

In [9]:
marketing.groupby('loan').y.value_counts()

loan     y
no       no     30100
         yes     3850
unknown  no       883
         yes      107
yes      no      5565
         yes      683
Name: y, dtype: int64

In [14]:
marketing.groupby(["loan", "marital"]).y.value_counts()

loan     marital   y
no       divorced  no      3420
                   yes      396
         married   no     18469
                   yes     2098
         single    no      8155
                   yes     1345
         unknown   no        56
                   yes       11
unknown  divorced  no       113
                   yes        8
         married   no       528
                   yes       60
         single    no       241
                   yes       39
         unknown   no         1
yes      divorced  no       603
                   yes       72
         married   no      3399
                   yes      374
         single    no      1552
                   yes      236
         unknown   no        11
                   yes        1
Name: y, dtype: int64

In [16]:
marketing.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed       float64
y                  object
dtype: object

In [28]:
column_list = marketing.columns

In [35]:
for column_name in column_list:
    print(column_name + " : " + str(marketing[column_name].unique().size))

age : 78
job : 12
marital : 4
education : 8
default : 3
housing : 3
loan : 3
contact : 2
month : 10
day_of_week : 5
duration : 1544
campaign : 42
pdays : 27
previous : 8
poutcome : 3
emp.var.rate : 10
cons.price.idx : 26
cons.conf.idx : 26
euribor3m : 316
nr.employed : 11
y : 2

In [40]:
for column_name in ["marital", "default", "contact", "poutcome"]:
    print(column_name, " : ", marketing[column_name].unique())

marital  :  ['married' 'single' 'divorced' 'unknown']
default  :  ['no' 'unknown' 'yes']
contact  :  ['telephone' 'cellular']
poutcome  :  ['nonexistent' 'failure' 'success']

In [49]:
marketing.groupby("marital").y.value_counts()

marital   y
divorced  no      4136
          yes      476
married   no     22396
          yes     2532
single    no      9948
          yes     1620
unknown   no        68
          yes       12
Name: y, dtype: int64